<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jialong.powersite.modular.system.mapper.AlarmLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="map" type="com.jialong.powersite.modular.system.model.JlAlarmLog">
        <result column="id" property="id" />
        <result column="notice_type" property="noticeType" />
        <result column="alarm_detail" property="alarmDetail" />
        <result column="alarm_time" property="alarmTime" />
        <result column="site_id" property="siteId" />
        <result column="auditor" property="auditor" />
    </resultMap>

    <select id="queryAlarmLogCount" resultType="integer">
        select count(id) from jl_alarm_log;
    </select>

    <select id="queryAlarmLogList"  resultMap="map">
        select id, notice_type, alarm_detail, alarm_time, site_id, auditor from jl_alarm_log limit #{start}, #{pageSize};
    </select>

</mapper>