<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jialong.powersite.modular.system.mapper.CheckTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="map" type="com.jialong.powersite.modular.system.model.JlCheckTask">
        <result column="id" property="id" />
        <result column="checker" property="checker" />
        <result column="check_detail" property="checkDetail" />
        <result column="status" property="status" />
        <result column="addtime" property="addTime" />
    </resultMap>


    <select id="insertCheckTask" parameterType="com.jialong.powersite.modular.system.model.JlCheckTask">
        INSERT INTO jl_check_task (checker, check_detail, site_id, status, addtime) VALUES (#{checker}, #{checkDetail}, #{siteId}, #{status}, #{addTime});
    </select>

    <select id="queryCheckTaskCount" resultType="Integer">
        select count(id) from jl_check_task;
    </select>

    <select id="queryCheckTask"  resultMap="map">
        select id, checker, check_detail, site_id, status, addtime from jl_check_task limit #{start},#{pageSize};
    </select>

</mapper>