<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jialong.powersite.modular.system.mapper.DeviceMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="map" type="com.jialong.powersite.modular.system.model.JlDevice">
        <result column="id" property="id" />
        <result column="device_name" property="deviceName" />
        <result column="is_del" property="isDel" />
        <result column="auditor" property="auditor" />
        <result column="add_time" property="addTime" />
    </resultMap>

    <select id="addDevice" resultType="Integer">
        INSERT INTO jl_device (
            device_name,
            is_del,
            auditor,
            add_time
        )
        VALUES
            (
                #{deviceName},
                #{isDel},
                #{auditor},
                #{addTime}
            );
    </select>

    <select id="queryDeviceChecked" parameterType="integer" resultType="com.jialong.powersite.core.common.node.ZTreeNode">
        SELECT
            d.id,
            d.device_name as name,
            (
				CASE WHEN (1)
					THEN 'true'
				ELSE
					'false'
			END
			) "open",
            (
                CASE
                WHEN (sd.device_id IS NULL) THEN
                    'false'
                ELSE
                    'true'
                END
            ) AS "checked"
        FROM
            jl_device d
        LEFT JOIN (
            SELECT
                device_id
            FROM
                jl_site_device
            WHERE
                site_id = #{siteId}
        ) sd ON d.id = sd.device_id
    </select>
</mapper>