<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jialong.powersite.modular.system.mapper.OperationRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="map" type="com.jialong.powersite.modular.system.model.response.data.OperationRecordRespData">
        <result column="jorid" property="id" />
        <result column="username" property="username" />
        <result column="site_name" property="siteName" />
        <result column="operation_detail" property="operationDetail" />
        <result column="operation_time" property="operationTime" />
    </resultMap>

    <select id="queryOperationRecordCount" parameterType="com.jialong.powersite.modular.system.model.JlOperationRecordQueryData" resultType="Integer">
        SELECT
            count(jor.id)
        FROM
        jl_operation_record jor
        LEFT JOIN jl_power_site ps ON jor.site_id = ps.id
        LEFT JOIN sys_user u ON u.id = jor.auditor
        <where>
            <if test="auditor != null">
                auditor = #{auditor}
            </if>
            <if test="siteId != null">
                AND site_id = #{siteId}
            </if>
            <if test="operationDetail != null">
                AND operation_detail like #{operationDetail}
            </if>
            <if test="operationTimeBegin != null and operationTimeEnd != null">
                AND (operation_time between  CONCAT(#{operationTimeBegin}, ' 00:00:00') and CONCAT(#{operationTimeEnd}, ' 23:59:59'))
            </if>
        </where>
        ;
    </select>

    <select id="queryOperationRecordList" parameterType="com.jialong.powersite.modular.system.model.JlOperationRecordQueryData" resultMap="map">
        SELECT
            jor.id as jorid,
            u.username,
            ps.site_name,
            operation_detail,
            operation_time
        FROM
            jl_operation_record jor
        LEFT JOIN jl_power_site ps ON jor.site_id = ps.id
        LEFT JOIN sys_user u ON u.id = jor.auditor
        <where>
            <if test="auditor != null">
                auditor = #{auditor}
            </if>
            <if test="siteId != null">
                AND site_id = #{siteId}
            </if>
            <if test="operationDetail != null">
                AND operation_detail like #{operationDetail}
            </if>
            <if test="operationTimeBegin != null and operationTimeEnd != null">
                AND (operation_time between  CONCAT(#{operationTimeBegin}, ' 00:00:00') and CONCAT(#{operationTimeEnd}, ' 23:59:59'))
            </if>
        </where>
        LIMIT #{start}, #{pageSize};
    </select>

</mapper>