<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jialong.powersite.modular.system.mapper.PowerSiteMapper">

    <insert id="addPowerSite">
        INSERT INTO jl_power_site (
            rid,
            site_name,
            site_shortname,
            site_addr,
            site_status,
            site_host,
            site_ports
        )
        VALUES
            (
                #{rid},
                #{siteName},
                #{siteShortname},
                #{siteAddr},
                #{siteStatus},
                #{siteHost},
                #{sitePorts}
            );
    </insert>
</mapper>