<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jialong.powersite.modular.system.mapper.SiteOperationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="map" type="com.jialong.powersite.modular.system.model.JlSiteOperation">
        <result column="id" property="id" />
        <result column="uuid" property="uuid" />
        <result column="site_id" property="siteId" />
        <result column="param_id" property="paramId" />
        <result column="param_value" property="paramValue" />
        <result column="param_value_unit" property="paramValueUnit" />
        <result column="param_value_type" property="paramValueType" />
        <result column="add_time" property="addTime" />
        <result column="is_overdue" property="isOverdue" />
    </resultMap>

    <update id="updateSiteOperationState" parameterType="com.jialong.powersite.modular.system.model.JlSiteOperation">
        UPDATE jl_site_operation
            SET is_overdue = 1
        WHERE
            site_id = #{siteId} and is_overdue = #{isOverdue} and param_id IN
        <foreach collection="paramIdList" index="index" item="paramId" separator="," open="(" close=")">
            #{paramId}
        </foreach>
    </update>

    <insert id="addPowerSiteData" parameterType="com.jialong.powersite.modular.system.model.JlSiteOperation">
        INSERT INTO jl_site_operation (
        site_id,
        uuid,
        device_id,
        param_id,
        param_value,
        param_value_type,
        param_value_unit,
        alert_upper_value,
        alert_lower_value,
        alert,
        alert_type,
        alert_type_name,
        add_time,
        is_overdue
        )
        VALUES
        <foreach collection="list" index="index" item="i" separator=",">
            (#{i.siteId}, #{i.uuid}, #{i.deviceId}, #{i.paramId}, #{i.paramValue}, #{i.paramValueType}, #{i.paramValueUnit}, #{i.alertUpperValue}, #{i.alertLowerValue}, #{i.alert}, #{i.alertType}, #{i.alertTypeName}, #{i.addTime}, #{i.isOverdue})
        </foreach>
        ;
    </insert>

    <delete id="deleteOverdueSiteOperation" parameterType="string">
        delete from jl_site_operation where add_time <![CDATA[<=]]> #{beforeDate} and is_overdue = 1;
    </delete>
</mapper>