<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jialong.powersite.modular.system.mapper.UserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jialong.powersite.modular.system.model.User">
		<id column="id" property="id" />
		<result column="avatar" property="avatar" />
		<result column="username" property="username" />
		<result column="password" property="password" />
		<result column="salt" property="salt" />
		<result column="name" property="name" />
		<result column="birthday" property="birthday" />
		<result column="sex" property="sex" />
		<result column="email" property="email" />
		<result column="phone" property="phone" />
		<result column="roleid" property="roleid" />
		<result column="deptid" property="deptid" />
		<result column="status" property="status" />
		<result column="createtime" property="createtime" />
		<result column="version" property="version" />
		<result column="token" property="token" />
	</resultMap>

	<sql id="Base_Column_List">
		id, username, name, password, birthday, sex, email, avatar,
		phone, roleid,
		deptid, status,
		createtime, version, token
	</sql>

	<select id="userNameValid" resultType="Integer">
		select count(id) from sys_user where username = #{username}
	</select>


	<select id="queryUserByUserName" resultType="com.jialong.powersite.modular.system.model.User">
		 select
			<include refid="Base_Column_List" />
		 from sys_user where username = #{username};
	</select>

	<update id="updateTokenByUserId">
		update sys_user set token = #{token}, salt = #{salt} where id =
		#{userId}
	</update>

	<select id="queryUserByToken" resultType="com.jialong.powersite.modular.system.model.User">
		select
		<include refid="Base_Column_List" />
		from sys_user where token = #{token};
	</select>

	<select id="queryUserById" resultType="com.jialong.powersite.modular.system.model.User">
		 select
			<include refid="Base_Column_List" />
		 from sys_user where id = #{userId};
	</select>

	<insert id="insertUser" parameterType="com.jialong.powersite.modular.system.model.User">
		INSERT INTO sys_user (
			avatar,
			username,
			PASSWORD,
			salt,
			NAME,
			birthday,
			sex,
			email,
			phone,
			roleid,
			deptid,
			STATUS,
			createtime,
			version,
			token
		)
		VALUES
			(#{avatar}, #{username}, #{password}, #{salt}, #{name}, #{birthday}, #{sex}, #{email}, #{phone}, #{roleid}, #{deptid}, #{status}, #{createtime}, #{version}, #{token});
	</insert>

	<update id="resetUserPwd">
		update sys_user set password = #{password} where username = #{username};
	</update>

	<update id="setRoles">
		update sys_user set roleid = #{roleIds} where id =
		#{userId}
	</update>

</mapper>
